
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body >
       
    <!-- WRAPPER -->
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        @RenderPage("~/Views/Shared/_LayoutHead.cshtml")
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        @RenderPage("~/Views/Shared/_LayoutLeftMenu.cshtml")
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper ">
            <!-- top general alert -->
            @*<div class="alert alert-danger top-general-alert">
                <span>If you <strong>can't see the logo</strong> on the top left, please reset the style on right style switcher (for upgraded theme only).</span>
                <button type="button" class="close">&times;</button>
            </div>*@
            <!-- end top general alert -->
            <div class="row">
                <div class="col-lg-4 ">
                    <ul class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Inbox</li>
                    </ul>
                </div>
                </div>
                <!-- main -->
                <div class="content">
                    <div class="main-content">
                        asdfasdf
                    </div>
                </div>
                <!-- /main -->
            </div>
        <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END WRAPPER -->
                    @RenderPage("~/Views/Shared/_LayoutFoot.cshtml")


                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>