@using MVCTESTSITE.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}

<h2>@ViewBag.Title。</h2>
<div class="row">
    <div class="col-md-8">
        <div class="dialog">
            <div class="panel panel-default">
                <p class="panel-heading no-collapse">Sign In</p>
                <div class="panel-body">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">*@
                            @Html.ActionLink("Link", "Indexpass", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                <input type="submit" value="登录" class="btn btn-primary pull-right" />
                            @*</div>
                        </div>*@
                       
                        @* 在为密码重置功能启用帐户确认后启用此项
                            <p>
                                @Html.ActionLink("忘记了密码?", "ForgotPassword")
                            </p>*@
                        }
                    </section>
                </div>
               
            </div>


        </div>
    </div>

</div>
<!-- Demo page code -->

<script type="text/javascript">
    // $("[rel=tooltip]").tooltip();
    //$(function() {
    //    $('.demo-cancel-click').click(function(){return false;});
    //});
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}